#search-input-text-box {
    width: 200px;
}

.place-search-symbol {
    width: 20px;
    height: 20px;
    background-image: url("../../searchSymbol.png");
    background-size: cover;
}

#flex-the-search-input {
    display: flex;
    width: 250px;
}

#search-button:hover {
    cursor: pointer;
}

#search-input-text-box:focus {
    outline-color: #A55B00;
}
