
* {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    //border: 1px solid black;
}

.App {
    text-align: center;
}

h1 {
    color: #004AA5;
    font-family: "Reddit Sans", sans-serif;
    font-weight: 700;
}

#edit-header-one {
    color: white;
    text-shadow: 0 0 10px gray;
    font-family: "Reddit Sans", sans-serif;
}

.App-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.5%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 7px gray;
    z-index: 2;
    background-color: white;
}

#chevron {
    background-image: url('../../chevronLeft.png');
    width: 25px;
    height: 25px;
    background-size: cover;
}

#nav-link-list {
    font-size: 15px;
    width: 200px;
    height: 93.5vh;
    z-index: 1;
    position: absolute;
    top: 4.5vh;
    transform: translateX(-160%);
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease-out;
    padding-right: 30px;
    box-shadow: 2px 5px 5px lightgray;
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#div-for-nav:hover > #nav-link-list {
    transform: translateX(-60%);
}

#div-for-nav:hover > #chevron {
    background-image: url('../../chevronRight.png');
}


#div-for-nav {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 19px;
}

#div-for-nav:hover {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    text-decoration: underline 3px #A55B00;
}

li {
    width: 200px;
}